[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/knakajima3027/hugo-fresh
[submodule "themes/hugo-bootstrap-premium"]
	path = themes/hugo-bootstrap-premium
	url = https://github.com/knakajima3027/hugo-bootstrap-premium
